.container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Calibri;
}

.popup {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

input, button {
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  text-align:center;
  cursor: pointer;
}

button {
  margin-bottom: 22px;
}

.step {
  margin-bottom: 10px;
  font-weight: bold;
}

.helperText {
  height: 12px;
  font-size: 12px;
  margin-bottom: 10px;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.imgWrapper, .imgWrapperStart{
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.imgWrapperStart {
  margin-bottom: 40px;
}

.img {
  width: 100%;
}

ol {
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  .popup {
    width: 90%;
    margin: 0 auto;
  }

  input, button {
    width: 90%;
  }
}

@media only screen and (max-width: 380px) {
  input, button {
    width: 80%;
  }
}